@use "./components/reset";
@use "./abstracts/mixins";
@use "./components/colors";
@use "./components/typography";
@use "./layout/header";
@use "./layout/body";
@use "./layout/info-display";
@use "./layout/buttons";
@use "./layout/footer";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html{
    min-height: 100%;
    scroll-behavior: smooth;
    color: colors.$white;
    font-family: 'Inter', sans-serif;
}

.container{
    @include mixins.grid();
    grid-template-areas:"header"
                        "main"
                        "footer";
    grid-template-columns: 1f;
    grid-template-rows: 1f;
    padding: 1em;
    background-color: colors.$bg;
}