$light-blue: #84B8FF;
$dark-blue: #425C80;
$yellow: #FFD585;
$pink: #FF9EDB;

$black: #000000;
$semi-historic: rgba(241, 241, 241, 0.5);
$white: #FFFFFF;
$bg: #212E40;

$calculator-display: rgba(132, 184, 255, 0.3);
;
