@use "./colors" as *;

$title: normal 400 50px 'Inter', sans-serif $white;
$display: normal 400 40px 'Inter', sans-serif $white;
$buttons: normal 400 30px 'Inter', sans-serif $black;
$footer: normal 400 25px 'Inter', sans-serif $white;
$footer-medium: medium 500 25px 'Inter', sans-serif $white;